@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}
<section class="bg-success py-5">
    <div class="container">
        <div class="row align-items-center py-5">
            <div class="col-md-8 text-white">
                <h1>Thông Tin Về Chúng Tôi</h1>
                <p>
                    Cửa hàng được thành lập bởi niềm đam mê công nghệ của 2 người bạn từ thời sinh viên. Nhàm mục đích mang đến cho người dung các sản phẩm chất lượng nhất
                </p>
                <div class="row">
                    <div class="col-12 col-md-4 p-5 mt-3">
                        <a href="#"><img src="~/Assets/IMG/About/TAT.png" class="rounded-circle img-fluid border"></a>
                        <h5 class="text-center mt-3 mb-3">Trương Anh Tuấn</h5>
                    </div>
                    <div class="col-12 col-md-4 p-5 mt-3">
                        <a href="#"><img src="~/Assets/IMG/About/VDM.png" class="rounded-circle img-fluid border"></a>
                        <h2 class="h5 text-center mt-3 mb-3">Võ Đức Mạnh</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <img src="~/Assets/IMG/About/Team.png" alt="About Hero">
            </div>
        </div>
    </div>
</section>
<!-- Close Banner -->
<!-- Start Map -->
<section class="bg-light py-5">
    <div class="row text-center py-3">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.125120810274!2d106.71230301410361!3d10.80172789230436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528a500e8c3d5%3A0xedfca63e47b5afb8!2zNDc1YSDEkGnhu4duIEJpw6puIFBo4bunLCBQaMaw4budbmcgMjUsIELDrG5oIFRo4bqhbmgsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCA3MDAwMCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2shk!4v1655196077186!5m2!1svi!2shk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>
<!-- Ena Map -->
<!-- Start Section -->
<section class="container py-5">
    <div class="row text-center pt-5 pb-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Dịch Vụ Hỗ Trợ</h1>
            <p>
                Đến với chúng tôi các bạn sẽ nhận được trải nghiệm mua hàng tốt nhất
            </p>
        </div>
    </div>
    <div class="row">

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><i class="fa fa-truck fa-lg"></i></div>
                <h2 class="h5 mt-4 text-center">Dịch Vụ Vận Chuyển</h2>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><i class="fas fa-exchange-alt"></i></div>
                <h2 class="h5 mt-4 text-center">Dịch Vụ Đổi Trả</h2>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><i class="fa fa-percent"></i></div>
                <h2 class="h5 mt-4 text-center">Khuyến Mãi</h2>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><i class="fa fa-user"></i></div>
                <h2 class="h5 mt-4 text-center">Hỗ Trợ Khách Hàng 24h</h2>
            </div>
        </div>
    </div>
</section>
<!-- End Section -->
<!-- Start Brands -->
<section class="bg-light py-5">
    <div class="container my-4">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Nhãn Hàng Đối Tác</h1>
                <p>
                    Sau nhiều năm hoạt động, TM Store đã nhận được sự tin tưởng và đồng hành của rất nhiều thương hiệu trên toàn cầu
                </p>
            </div>
            <div class="col-lg-9 m-auto tempaltemo-carousel">
                <div class="row d-flex flex-row">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-3 p-md-5">
                                <a href="https://www.amdvietnam.com.vn/"><img class="img-fluid brand-img" src="~/Assets/IMG/About/AMDlogo.png" alt="Brand Logo"></a>
                            </div>
                            <div class="col-3 p-md-5">
                                <a href="https://www.intel.vn/content/www/vn/vi/homepage.html"><img class="img-fluid brand-img" src="~/Assets/IMG/About/Intellogo.png" alt="Brand Logo"></a>
                            </div>
                            <div class="col-3 p-md-5">
                                <a href="https://www.asus.com/vn/"><img class="img-fluid brand-img" src="~/Assets/IMG/About/AsusLogo.png" alt="Brand Logo"></a>
                            </div>
                            <div class="col-3 p-md-5">
                                <a href="https://vn.msi.com/index.php"><img class="img-fluid brand-img" src="~/Assets/IMG/About/MSIlogo.png" alt="Brand Logo"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Brands-->
